* {
  box-sizing: border-box;
}
body {
  background: #deeff5;
}

.gameboard {
	width: 300px;
	background-color: #6cb7d0;
	padding: 10px;
}
.grid-square {
  border: 1px solid #6cb7d0;
  background: white;
  width: 20%;
  min-height: 50px;
  display: inline-block;
  border-radius: 4px;
}
.grid-square.ship {
  background: grey;
}
.grid-square.miss {
  background: blue;
}
.grid-square.hit {
  background: red;
}