<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Battleship</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <link rel="stylesheet" type="text/css" href="/../style.css">
  </head>


  <body>

    <header>
      <div class="row">
        <h1 class="site-title">Battleship!</h1>
      </div>
    </header>

    <div class="content row">
      Game goes here
    </div> <!-- end content -->

  </body>
</html>